*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Poppin helvetica;
	
}

.container{

	height: 100vh;
	width: 100%;
	background:linear-gradient(to left, #2b3990, #0c0c33);
	background-size:cover;
	background-position: center;
	position: relative;

}

header img{
	transition: transform 0.5s;
}
header img:hover{
	transform: scale(1.3);
}

header{
	margin-top: 50px;
	height: 15vh;
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
header ul li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
	transition: transform 0.5s;

}
header ul li:hover{
	
	transform: translateY(10px);
}

nav {
	flex: 1;
	text-align: right;

}

header ul li a{
	text-decoration: none;
	color: #ededed;
}


h1 span{
	color: #d86824;
}

h1{
	font-size: 70px;
	margin-bottom: 2rem;
	z-index: 1;
}

.content{	
	color: #ededed;
	line-height: 20px;
	position: absolute;
	margin-top:15%;
	margin-left:5%;

}

.content a{
	text-decoration: none;
	color: #ededed;
	display: inline-block;
	padding: 10px 18px;
	margin: 2rem 0;
	background: #d86824;
	border-radius: 1rem;
}

.gallery{

	max-width: 400px;
	position: relative;
	margin: auto;
	left: 200px;

}

.gallery img{
	width:550px; 
	height:550px;
	border: solid #ededed;
	transition: transform 0.5s;
}

.gallery ul{
	position: absolute;
	right: -200px;
	top: 30%;
}
.gallery ul li{
	line-height: 50px;
	list-style: none;
	color: #ededed;
	cursor: pointer;
}

.gallery .active{
	color: #d86824;
}

.gallery ul li::after{
	content: "";
	width: 12px;
	height: 2px;
	background: #d86824;
	position: absolute;
	top: 24px;
	left: -15px;

}
.gallery img:hover{
	transform: translateY(-5px);
}
.box{
	width: 40px;
	height: 40px;
	border: solid #d86824 3px;
	position: absolute;
	opacity: 0.2;
	left: 20%;
	top: 30%;
}
.box2{
	width: 40px;
	height: 40px;
	border: solid #d86824 3px;
	position: absolute;
	opacity: 0.2;
	left: 50%;
	bottom: 3%;
}
.box3{
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	border: solid #d86824 3px;
	position: absolute;
	opacity: 0.2;
	left: 30%;
	top: 35%;
	
}
.box4{
	width: 40px;
	height: 40px;
	bottom: 15%;
	left: 45%;
	border: solid #d86824 3px;
	position: absolute;
	opacity: 0.2;
	
	
}



.btn:hover{
	transform: scale(1.3);
}
.btn{
	transition: transform 0.5s;
}












